/* .root {
  --accent: #e54065;
  --background: #f4f5f9;
  --border: #cfd2dc;
  --text: #636363;
  --filter: #e1e4ea;
  --read: #f2f2f2;
} */

html {
  margin: 0px;
  padding: 0px;
}

p {
  padding: 0px 0px;
  margin: 0px;
}

.app {
  background: var(--background);
  height: 100%;
  padding: 15px 30px;
  --accent: #e54065;
  --background: #f4f5f9;
  --border: #cfd2dc;
  --text: #636363;
  --filter: #e1e4ea;
  --read: #f2f2f2;
  --emailprofile: #fff;
}

.header {
  display: flex;
  gap: 20px;
  color: var(--text);
  align-items: center;
  font-weight: 500;
  padding-top: 10px;
}

.options {
  display: flex;
  gap: 10px;
}

.emailCard {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px 15px;
  border-radius: 10px;
  border: 2px solid var(--border);
  margin-top: 15px;
  background-color: #fff;
  cursor: pointer;
}

.emailProfile {
  border-radius: 50%;
  background-color: var(--accent);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--emailprofile);
  font-weight: 700;
  font-size: 20px;
}

.emailBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.emailList {
  margin-top: 10px;
  display: grid;
  /* grid-template-columns: 40% 57%; */
  /* grid-gap: 2%; */
  height: 89vh;
}

.emailOpen {
  grid-template-columns: 40% 57%;
  grid-gap: 2%;
}

.emaillist {
  height: 100%;
  overflow-x: scroll;
}

.emaillist::-webkit-scrollbar {
  display: none;
}

.emailBody > p {
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: var(--text);
  font-weight: 400;
  font-size: 15px;
}
.date > span {
  font-weight: 400 !important;
  color: var(--text);
}

.emailBody > p > span > span {
  font-weight: 700;
}

.date {
  display: flex;
  gap: 5px;
}

.date > span {
  font-weight: normal;
}

.emailFull {
  /* padding: 20px; */
  margin-top: 10px;
  border: 2px solid var(--border);
  border-radius: 10px;
  width: 100%;
  height: 98%;
  background-color: #fff;
}

.emailHeader {
  display: flex;
  gap: 15px;
  padding: 20px;
  /* align-items: center; */
}

.emailDescription {
  margin-top: 10px;
  height: 73vh;
  overflow-y: auto;
  padding-right: 5px;
}

.emailDescription::-webkit-scrollbar {
  border-radius: 10px;
  width: 6px;
  background: #e5e7eb;
}

.emailDescription::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 20px;
  cursor: pointer;
}

.emailDescription > div > p {
  font-size: 14px;
  margin-top: 15px;
  padding-right: 20px;
}

.emailTitle > span {
  margin-top: 0px;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--title);
  font-weight: bold;
}

.emailHeader > div {
  width: 100%;
}

.emailHeader > div > span {
  font-size: 13px;
}

.emailTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emailProfile-title {
  border-radius: 50%;
  background-color: var(--accent);
  width: 55px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--emailprofile);
  font-weight: 700;
  font-size: 20px;
}

.emailTitle > span > .favourite {
  padding: 5px 10px;
  background-color: var(--accent);
  font-size: 12px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: normal;
  margin-right: 20px;
}
.emailTitle > span > .cancel {
  padding: 5px 10px;
  border: 1px solid;
  border-color: var(--border);
  font-size: 12px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--text);
  font-weight: normal;
  margin-right: 20px;
}

.isFavourite {
  color: var(--accent) !important;
  margin-left: 10px;
  font-weight: bold !important;
}

.menu {
  cursor: pointer;
  padding: 5px 15px;
}

.menu:hover {
  background-color: var(--filter);

  border-radius: 30px;
}

.active {
  background-color: var(--filter);
  border-radius: 30px;
}

.read {
  background-color: var(--read) !important;
}

.pagination {
  width: 100%;
  display: flex;
  gap: 10px;
  cursor: pointer;
  justify-content: center;
  margin-top: 10px;
}

.page__number {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid var(--border);
  border-radius: 5px;
  text-align: center;
}

.page__active {
  background-color: var(--read) !important;
}

.no__emails {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
}
