/* .root {
  --accent: #e54065;
  --background: #f4f5f9;
  --border: #cfd2dc;
  --text: #636363;
  --filter: #e1e4ea;
  --read: #f2f2f2;
} */

html {
  margin: 0px;
  padding: 0px;
}

p {
  padding: 0px 0px;
  margin: 0px;
}

.app {
  background: var(--background);
  height: 100%;
  padding: 15px 30px;
  --accent: #e54065;
  --background: #f4f5f9;
  --border: #cfd2dc;
  --text: #636363;
  --filter: #e1e4ea;
  --read: #f2f2f2;
  --emailprofile: #fff;
}

.header {
  display: flex;
  gap: 20px;
  color: var(--text);
  align-items: center;
  font-weight: 500;
  padding-top: 10px;
}

.options {
  display: flex;
  gap: 10px;
}

.active {
  background-color: var(--filter);
  padding: 5px 15px;
  border-radius: 30px;
  cursor: pointer;
}

.emailCard {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid var(--border);
  margin-top: 15px;
}

.emailProfile {
  border-radius: 50%;
  background-color: var(--accent);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--emailprofile);
  font-weight: 700;
  font-size: 20px;
}

.emailBody {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.emailList {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 40% 57%;
  grid-gap: 2%;
  height: 89vh;
}

.emaillist {
  height: 100%;
  overflow-x: scroll;
}

.emaillist::-webkit-scrollbar {
  display: none;
}

.emailBody > p {
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: var(--text);
  font-weight: 400;
  font-size: 15px;
}
.emailBody > p > span > span {
  font-weight: 700;
}

.date {
  display: flex;
  gap: 5px;
}

.emailFull {
  /* padding: 20px; */
  margin-top: 10px;
  border: 2px solid var(--border);
  border-radius: 10px;
  width: 100%;
  height: 98%;
  background-color: #fff;
}

.emailHeader {
  display: flex;
  gap: 15px;
  padding: 20px;
  /* align-items: center; */
}

.emailDescription {
  margin-top: 10px;
  height: 73vh;
  overflow-y: scroll;
  padding-right: 5px;
}

.emailDescription::-webkit-scrollbar {
  border-radius: 10px;
  width: 6px;
  background: #e5e7eb;
}

.emailDescription::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 20px;
  cursor: pointer;
}

.emailDescription > p {
  font-size: 13px;
  margin-top: 10px;
}

.emailTitle > span {
  margin-top: 0px;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--title);
  font-weight: bold;
}

.emailHeader > div {
  width: 100%;
}

.emailHeader > div > span {
  font-size: 13px;
}

.emailTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emailProfile-title {
  border-radius: 50%;
  background-color: var(--accent);
  width: 55px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--emailprofile);
  font-weight: 700;
  font-size: 20px;
}

.emailTitle > .favourite {
  padding: 5px 10px;
  background-color: var(--accent);
  font-size: 12px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: normal;
  margin-right: 20px;
}
